<!-- <h1>Welcome to Angular</h1> -->

<!-- Code for Binding  -->

<!-- Interpolation Binding -->

<!-- <p>First Name : {{firstName}}</p>
<p>Age : {{age}}</p> -->

<!-- <p>Detailes of Students </p> 
<div>Address:  {{person.address}} </div>
<div>Number:  {{person.num}} </div> -->

<!-- <div class="button"> -->


<!-- <button (click)="showAlert()">Click here</button> -->
<!-- </div> -->

<!-- <p [style.color]="'red'">Example for style Binding</p> -->


 <!-- <div>

 Enter Name : <input type="text" [(ngModel)]="name1"> 

  <p> Return Name : {{name1}} </p>
</div> -->
  
<h3>Welcome to help in test</h3>