<h1>Welcome to Angular</h1>

<p>Product List </p>
<p>Search <input type="text"></p>

<tr>
   <th> <button type="button" >Show image</button></th>
   <th>  Name </th>
   <th>  Price </th>
   <th>  Rating </th>

</tr>

<tr>
    <td>   </td>
    <td> Books</td>
    <td> 1000</td>
    <td> 5 </td>
</tr>

<tr>
    <td>   </td>
    <td> Dress</td>
    <td> 2000</td>
    <td> 4 </td>
</tr>
<tr>
    <td>   </td>
    <td> Food</td>
    <td> 4000</td>
    <td> 6 </td>
</tr>

<tr>
    <td>   </td>
    <td> Bike</td>
    <td> 7000</td>
    <td> 3 </td>
</tr>
<tr>
    <td>   </td>
    <td> Movie</td>
    <td> 500</td>
    <td> 8 </td>
</tr>

<tr>
    <td>   </td>
    <td> {{product.bus }}</td>
    <td> {{product.ticket}}</td>
    <td> {{product.km }}</td>
</tr>


